.filter-input {
  margin-right: 1rem;
}

.amount-range {
  display: flex;
  align-items: center;
}
.amount-range input {
  width: 4.5rem;
  margin-right: 0.5rem;
}
.amount-range .range-separator {
  margin: 0 0.5rem;
  font-weight: bold;
}
